#root {
    -fx-background-image: url("background.jpg");
}
.button {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 5,5,5;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color:
            linear-gradient(#8a8383, #ababab),
            linear-gradient(#fcfcfc 0%, #ababab 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #e7dddd 50%);
    -fx-background-radius: 5,5,5;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.text-field:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(178, 63, 9, 0.9);
}
.text-area {
    -fx-font-size: 12;
}
.text-area .content {
    -fx-background-color: rgba(224, 222, 222, 0.25);
}
